@import "../../styles//mixins.scss";
@import "../../styles//colors.scss";

.header {
  @include header-banner;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $dark-text;
  font-weight: bold;
}
.button {
  @include button;
  margin-top: 20px;
  margin-bottom: 10px;
}
.grid {
  margin: 40px;
}
